html.about {
    .navbar-default {
      margin-bottom: 0;
    }

    .banner {
        width: 100%;
        background: url('../images/about/about-banner-bg.jpg') center no-repeat;
        background-size: cover;
        text-align: center;
        padding: 10rem 1.5rem;

        @media only screen and (min-width : 768px) {
            padding: 10rem 0;
        }

        h1 {
            font-family: 'Rubik';
            font-weight: 500;
            font-size: 5rem;
            color: #fff;
            text-shadow: 0 2px 4px rgba(0,0,0,0.11);
            margin: 0;
            &:after {
                background: #fff;
            }

            @media only screen and (min-width : 768px) {
                font-size: 8rem;
            }
        }

        p {
            font-family: 'Aileron-Light';
            font-size: 1.8rem;
            color: #FFFFFF;
            letter-spacing: 0;
            margin: 0;
        }
    }




    section {
        padding: 5rem 0;


        h1 {
            font-family: 'Rubik';
            font-weight: 400;
            font-size: 4rem;
            color: #494949;
            letter-spacing: 0;
            line-height: 1;
            margin: 0 0 4rem 0;
            display: block;
            text-align: center;

            @media only screen and (min-width : 768px) {
                font-size: 4.5rem;
            }

            &:after {
                content: '';
                display: block;
                margin: 2rem auto;
                width: 50px;
                height: 1px;
                background: #494949;
            }
        }

        h3.subtitle {
            display: block;
            text-align: center;
            font-family: 'Rubik';
            font-weight: 300;
            font-size: 2.5rem;
            color: #797979;
            margin: -2rem 0 4rem 0;
        }



        h2 {
            font-family: 'Rubik';
            font-weight: 400;
            font-size: 2.4rem;
            color: #313131;
            letter-spacing: 0;
        }

        h4 {
            font-family: 'Rubik';
            font-weight: 400;
            font-size: 2.4rem;
            color: #008B9A;
        }

        p {
            font-family: 'Aileron-Regular';
            font-size: 1.4rem;
            color: #575757;
            line-height: 1.8;
            letter-spacing: 0;
        }

        ul {
            font-family: 'Rubik';
            font-weight: 400;
            font-size: 1.5rem;
            color: #656262;
            line-height: 1.6;

            li {
                margin: 1rem 0;
            }
        }
    }

    ul.top-menu {
        padding: 0;
        margin: 4rem 0 0 0;

        display: none;

        @media only screen and (min-width : 768px) {
            display: block;

        }


        @media only screen and (min-width : 1100px) {

            white-space: nowrap;
            width: 100%;
        }

        li {

            display: block;
            padding: 0.5rem 0;

            @media only screen and (min-width : 768px) {
                padding: 0.5rem 1.5rem;
                display: inline-block;
                text-align: center;
            }

            @media only screen and (min-width : 992px) {
                display: inline-block;
                padding: 0 1.5rem;

                &:first-child {
                    padding: 0;
                }
                &:last-child {
                    padding: 0;
                }
            }


            a {
                font-family: 'Rubik';
                font-weight: 400;
                font-size: 1.3rem;
                color: #494949;
                letter-spacing: 2px;
                line-height: 18px;
                &:focus, &:active {
                    color: #088F9C;
                }
            }

        }
    }

    .about {
        img.renuka {
            margin: 1.5rem 0;
            max-width: 350px;
        }
    }

    .history {

        img {
            margin-bottom: 4rem;
        }

        ul.menu {
            list-style-type: none;
            margin: 0 0 3rem 0;
            padding: 0;
            @media only screen and (min-width : 768px) {
                margin: 0;
            }
            li {
                padding: 0 1.5rem;
                a {
                    font-family: 'Rubik';
                    font-weight: 400;
                    font-size: 1.4rem;
                    color: #828282;
                    letter-spacing: 1px;
                    line-height: 35px;
                }

                &.active {
                    background: url('../images/about/icon-dot-active.svg') 0 center no-repeat;
                    a {
                        color: #088F9C;
                        font-family: 'Rubik';
                        font-weight: 500;
                    }
                }
            }
        }


    }

    .group {
        width: 100%;
        background: url('../images/about/group-bg.jpg') center no-repeat;
        background-size: cover;
        text-align: center;
        padding-bottom: 0;

        h1 {
            color: #fff;

            &:after {
                display: none;
            }
        }

        p {
            font-family: 'Aileron-Light';
            font-size: 1.5rem;
            color: #FFFFFF;
            letter-spacing: 0;
            padding: 1.5rem 0;
            margin: 0;
        }

        .logos {
            margin-top: 3rem;

            .item {
                height: 25rem;
                background: #fff center no-repeat;
                background-size: cover;
                position: relative;

                .caption {
                    width: 100%;
                    background: url('../images/about/group-logo-overlay.png') center top no-repeat;
                    background-size: cover;
                    z-index: 888;
                    position: absolute;

                    left: 0;
                    right: 0;
                    bottom: 0;
                    padding-top: 10rem;
                    padding-bottom: 3rem;

                    h6 {
                        font-family: 'Rubik';
                        font-weight: 400;
                        font-size: 1.8rem;
                        color: #FFFFFF;
                        letter-spacing: 0.94px;
                        margin: 0;
                        line-height: 30px;

                        @media only screen and (min-width : 768px) {
                            font-size: 1.5rem;
                        }

                    }
                }

            }
        }
    }

    .presense {
        background-image: linear-gradient(-124deg, #FCFCFC 31%, #EFFEFF 100%);

        .nav-tabs {
            @media only screen and (min-width : 768px) {
                width: 600px;
            }
            margin: 0 auto 4rem auto;

            li {
                padding: 0;
                margin: 0;
                display: block;
                width: 100%;
                @media only screen and (min-width : 768px) {
                    display: inline-block;
                    width: 50%;
                }

                a {
                    display: block;
                    padding: 0;
                    font-family: 'Rubik';
                    font-weight: 400;
                    font-size: 2rem;
                    color: #008B9A;
                    letter-spacing: 1px;

                    border: 1px solid #008B9A;
                    border-radius: 0;
                    text-align: center;
                    padding: 0.5rem 0;

                    @media only screen and (min-width : 768px) {
                        padding: 0;
                        font-size: 2.5rem;
                        line-height: 50px;
                    }
                }

                &.active {
                    a {
                        background: #008B9A;
                        color: #fff;
                    }
                }
            }
        }

        h5 {
            font-family: 'Rubik';
            font-weight: 400;
            font-size: 2rem;
            color: #494949;
            letter-spacing: 0.67px;
            line-height: 1.4;
        }

        p {
            font-family: 'Aileron-Regular';
            font-size: 1.4rem;
            color: #575757;
            letter-spacing: 0;
            line-height: 1.8;

            strong {
                color: #008B9A;
                font-family: 'Aileron-Semibold';
            }
        }

        img {
            margin: 0 auto;
        }


    }

    .innovation {

        .facilities {
            margin-top: 4rem;

            img {
                margin-bottom: 4rem;
            }

            ul.menu {
                list-style-type: none;
                margin: 0 0 3rem 0;
                padding: 0;
                @media only screen and (min-width : 768px) {
                    margin: 0;
                }
                li {
                    padding: 0 1.5rem;
                    a {
                        font-family: 'Rubik';
                        font-weight: 400;
                        font-size: 1.4rem;
                        color: #828282;
                        letter-spacing: 1px;
                        line-height: 30px;
                    }

                    &.active {
                        background: url('../images/about/icon-dot-active.svg') 0 center no-repeat;
                        a {
                            color: #088F9C;
                            font-family: 'Rubik';
                            font-weight: 500;
                        }
                    }
                }
            }

            .content {


            }
        }
    }

    .farmers {
        background: #F2F3F5;
    }

    .agri-foods {
        background: url('../images/about/agri-foods-bg.jpg') center no-repeat;
        background-size: cover;
        text-align: center;

        h1 {
            color: #fff;

            &:after {
                background-color: #fff;
            }
        }

        p {
            font-family: 'Aileron-Regular';
            font-size: 1.8rem;
            color: #FFFFFF;
            letter-spacing: 0;
            max-width: 550px;
            margin: 0 auto;

            &.lead {
                font-family: 'Rubik';
                font-weight: 300;
                font-size: 2.2rem;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 30px;
                margin: 2rem auto;

                @media only screen and (min-width : 768px) {
                    font-size: 3rem;
                }

                a {
                    padding: 0 4rem;
                    color: #FFFFFF;
                    background: url('../images/about/icon-link.svg') right center no-repeat;
                    background-size: 20px;
                }
            }
        }
    }

    .renuka-group {
        background: url('../images/info-center/renuka-group-bg.jpg') center no-repeat;
        background-size: cover;
        text-align: center;

        h1 {
            color: #fff;

            &:after {
                background-color: #fff;
            }
        }

        p {
            font-family: 'Aileron-Regular';
            font-size: 1.8rem;
            color: #FFFFFF;
            letter-spacing: 0;
            max-width: 550px;
            margin: 0 auto;

            &.lead {
                font-family: 'Rubik';
                font-weight: 300;
                font-size: 2.2rem;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 30px;
                margin: 2rem auto;

                @media only screen and (min-width : 768px) {
                    font-size: 3rem;
                }

                a {
                    padding: 0 4rem;
                    color: #FFFFFF;
                    background: url('../images/about/icon-link.svg') right center no-repeat;
                    background-size: 20px;
                }
            }
        }
    }

    .download-broucher {
        background: url('../images/info-center/broucher-bg.jpg') center no-repeat;
        background-size: cover;
        text-align: center;

        p {
            font-family: 'Aileron-SemiBold';
            font-size: 1.6rem;
            color: #FFFFFF;
            letter-spacing: 2.95px;

            a {
                background: #fff;
                border-radius: 30px;
                font-family: 'Rubik';
                font-weight: 400;
                font-size: 1.4rem;
                color: #17968F;
                line-height: 29px;
                padding: 1rem 3rem;
                text-decoration: none;
                margin: 2rem auto;
                display: block;
                max-width: 250px;

                @media only screen and (min-width : 768px) {
                    margin: 0 1rem;
                    display: inline-block;
                }

                &:hover {
                    opacity: 0.9;
                }

                img {
                    display: inline-block;
                }
            }
        }
    }

    .sustainablity {
        background: url('../images/about/sustainablity-bg.jpg') center no-repeat;
        background-size: cover;


        h1 {
            color: #fff;

            &:after {
                background-color: #fff;
            }
        }

        p {
            color: #fff;
        }

        img {

            @media only screen and (min-width : 768px) {
                max-width: 400px;
            }
            margin: 0 auto;
        }
    }

    .awards {
        .certification {
            padding: 3rem 0;
            img {
                width: 100%;
                max-width: 900px;
                margin: 0 auto;
            }
        }

        .bg {
            height: 250px;
        }

        .bg, .content {
            @media only screen and (min-width : 768px) {
                height: 300px;
            }
        }

        .bg {
            background: url('../images/info-center/awards-bg.jpg') center no-repeat;
            background-size: cover;
        }

        .content {
            background: #F4F4F4;
            text-align: center;
            padding: 4rem;

            h2 {
                font-family: 'Rubik';
                font-weight: 400;
                font-size: 3rem;
                color: #494949;
                margin: 0;
                &:after {
                    content: '';
                    display: block;
                    margin: 2rem auto;
                    width: 50px;
                    height: 1px;
                    background: #494949;
                }
            }

            h6 {
                font-family: 'Rubik';
                font-weight: 400;
                font-size: 2rem;
                color: #494949;
                letter-spacing: 0.67px;
                line-height: 30px;
            }
        }
    }

    .products {
        margin-top: 3rem;
        position: relative;

        h4 {
            font-family: 'Aileron-SemiBold';
            font-size: 1.8rem;
            color: #018C99;
            letter-spacing: 0;
        }

        a {
            text-decoration: none;
        }


        .swiper-slide {
            padding: 0 5px;
        }

        .swiper-button-next {
            background: url('../images/info-center/arrow-right.png') center no-repeat;
            background-size: 40px;
            width: 40px;
            right: -15px;
            top: 140px;
        }

        .swiper-button-prev {
            background: url('../images/info-center/arrow-left.png') center no-repeat;
            background-size: 40px;
            width: 40px;
            left: -15px;
            top: 140px;
        }

        .thumbnail {
            padding: 0;
            border-radius: 0;
            border: 0;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.13);

            img {
                width: 100%;
            }

            .caption {
                padding: 0;
                text-align: center;

                h6 {
                    margin: 0;
                    background: #44969E;
                    font-family: 'Aileron-Regular';
                    font-size: 1.4rem;
                    color: #FFFFFF;
                    letter-spacing: 0;
                    padding: 1rem 0.5rem;
                }

                h3 {
                    margin: 0;
                    font-family: 'Aileron-Regular';
                    font-size: 1.5rem;
                    line-height: 1.6;
                    color: #626262;
                    letter-spacing: 0;
                    padding: 3rem 0.5rem;
                }

            }
        }
    }

    .navigations {
      margin-top: 0;
    }
}