/* -----------------------
      html
----------------------- */
html{
    -webkit-font-smoothing: antialiased;
    font-size: 62.5%;

    @include respond-to(max, $device-lg){
        font-size: 60%;
    }
    @include respond-to(max, $device-sm){
        font-size: 59%;
    }
    @include respond-to(max, $device-xs){
        font-size: 57.5%;
    }
}


body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


/**
 * Basic styling
 */
body {
    font-family: $font-p;
    color: $text-color;
    background-color: #FAFAFA;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    image-rendering: optimizeQuality;
    -ms-interpolation-mode: bicubic;
    text-rendering: optimizeLegibility;
    text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a, button {
    transition: all .5s;
}


.label, label {
    color: $text-color;
    font-size: 1rem;
}

input {
    &[type="button"], &[type="reset"], &[type="submit"] {
        transition: all .5s;
    }
}
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: 1.3rem;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
        margin-bottom: 0;
    }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6{
    font-family: $font-h;
    font-weight: normal;
    color: $head-color;
}

h1{
    font-size: 3.1rem;
    margin-bottom: 2.6rem;
}
h2{
    font-size: 2.8rem;
    margin-bottom: 2.4rem;
}
h3{
    font-size: 2.3rem;
    margin-bottom: 2rem;
}
h4{
    font-size: 2rem;
    margin-bottom: 1.8rem;
}
h5{
    font-size: 1.7rem;
}
h6{
    font-size: 1.5rem;
}

/**
 * Links
 */
a {
    color: $theme-color;
    text-decoration: none;

    &:visited {
        color: darken($theme-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $theme-color;
    border-left: 4px solid #999;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid #999;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $theme-color;
        }
    }
}

/* Bootstrap 5 column fix */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}


/* mixin comp styles */
.row.no-padding{
    margin: 0;
    >[class*="col-"]{
        padding: 0;
    }
}

.row.tbl-lg{ @include row-table($device-lg); @include respond-to(min, $device-lg){ margin-bottom: $spacing-unit/2; } }
.row.tbl-md{ @include row-table($device-md); @include respond-to(min, $device-md){ margin-bottom: $spacing-unit/2; } }
.row.tbl-sm{ @include row-table($device-sm); @include respond-to(min, $device-sm){ margin-bottom: $spacing-unit/2; } }
.row.tbl-xs{ @include row-table($device-xs); @include respond-to(min, $device-xs){ margin-bottom: $spacing-unit/2; } }
.row.tbl{
    display: table !important;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 100%;
    >[class*="col-"]{
        display: table-cell;
        vertical-align: middle;
        float: none;
    }
}

.row.sp-15{
    margin-left: -7.5px;
    margin-right: -7.5px;
    > div{
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
}

.mb-0{ @include mb(0); }
.mb-10{ @include mb(10); }
.mb-15{ @include mb(15); }
.mb-20{ @include mb(20); }
.mb-25{ @include mb(25); }
.mb-30{ @include mb(30); }
.mb-40{ @include mb(40); }
.mb-50{ @include mb(50); }
.mb-60{ @include mb(60); }

.mt-0{ @include mt(0); }
.mt-10{ @include mt(10); }
.mt-15{ @include mt(15); }
.mt-20{ @include mt(20); }
.mt-25{ @include mt(25); }
.mt-30{ @include mt(30); }
.mt-40{ @include mt(40); }
.mt-50{ @include mt(50); }
.mt-60{ @include mt(60); }

body{
    font-size: 1.5rem;
    color: $text-color;
}

@mixin middlealign{
    height: 100%;
    display: table;
    > div{
        width: 100%;
        display: table-cell;
        vertical-align: middle;
    }
}
.v-middle{
    @include v-middle;
}

.cls{
    @include clearfix();
}
