html.category {
    body {
        background: #F3F3F3;
    }

    .sidebar {
        background: #fff;
        margin-bottom: 3rem;

        @media only screen and (min-width : 768px) {
            margin-bottom: 0;
        }

        h2 {
            margin: 0;
            padding: 0 2.5rem;
            font-family: 'Rubik';
            font-weight: 400;
            font-size: 1.8rem;
            color: #018C99;
            line-height: 60px;
        }

        ul.menu {
            margin: 0;
            padding: 0;

            li {
                border-bottom: 0.5px solid rgba(1, 140, 153, 0.15);
                &:first-child {
                    border-top: 0.5px solid rgba(1, 140, 153, 0.15);
                }

                a {
                    display: block;
                    padding: 1.8rem 2.5rem;
                    font-family: 'Rubik';
                    font-weight: 400;
                    font-size: 1.4rem;
                    color: #242424;
                    letter-spacing: 0;
                    position: relative;
                    text-decoration: none;

                    &:hover, &:active, &:focus {
                        color: #018C99;
                    }

                }

                &.has-sub {

                    & > a:after {
                        content: '';
                        width: 5rem;
                        background: url('../images/menu-arrow-down.svg') center no-repeat;
                        background-size: 15px;
                        position: absolute;
                        top: 0;
                        height: 100%;
                        right: 0;
                    }

                    &.active {
                        & > a:after {
                            background-color: #018C99;
                            background-image: url('../images/menu-arrow-down-active.svg');
                        }
                    }

                }

                &.has-sub-cat {

                    & > a:after {
                        content: '';
                        width: 5rem;
                        background: url('../images/menu-arrow-right.svg') center no-repeat;
                        background-size: 8px;
                        position: absolute;
                        top: 0;
                        height: 100%;
                        right: 0;
                    }

                    &.active {
                        & > a:after {
                            background-color: #018C99;
                            background-image: url('../images/menu-arrow-right-active.svg');
                            transform: rotate(90deg);
                        }
                    }

                    & > ul.sub-cat-menu {
                        padding: 0;
                        margin: 0 0 0 10px;
                        background: #018C99;
                        display: none;
                    }
                }

                ul.sub-menu {
                    padding: 0;
                    margin: 0;
                    background: #018C99;
                    display: none;

                    li {
                        a {
                            font-family: 'Rubik';
                            font-weight: 300;
                            font-size: 1.4rem;
                            color: #fff;
                            letter-spacing: 0;
                            line-height: 33px;
                            padding: 0.3rem 4rem;
                            background: url('../images/icon-circle.svg') 2.5rem center no-repeat;

                            // &:before {
                            //     content: '';
                            //     width: 4px;
                            //     height: 4px;
                            //     background: #fff;
                            //     border-radius: 50%;
                            //     display: inline-block;
                            //     line-height: 33px;
                            //     margin-right: 5px;
                            // }
                        }
                    }
                }

                &.active {
                    ul.sub-menu {
                        display: block;
                    }

                    a {
                        color: #018C99;
                    }
                }

            }
        }
    }

    .content {
        & > .row {
            padding: 2rem 0;
        }

        a.go-back {
            display: block;
            font-family: 'Aileron-Regular';
            font-size: 1.4rem;
            color: #B5B5B5;
            letter-spacing: 2.4px;
            margin: 0 0 1.5rem 0;

            .fa {
                font-size: 1.2rem;
                color: #018C99;
            }
        }

        & > img {
            margin-bottom: 3rem;
        }

        font-family: 'Aileron-Regular';
        font-size: 1.5rem;
        color: #575757;
        letter-spacing: 0;

        h2 {
            font-family: 'Aileron-Regular';
            font-size: 2.5rem;
            color: #018C99;
            letter-spacing: 0;
            margin-top: 0;
        }

        h4 {
            font-family: 'Aileron-Regular';
            font-size: 1.4rem;
            color: #212121;
            letter-spacing: 2.8px;
            margin-bottom: 1rem;
            // margin: 0 0 1rem 0;
        }

        p:first-of-type {
            font-family: 'Aileron-Semibold';
        }


        .products-slider {
            img {
                width: 100%;
            }
        }

        .products-slider-thumb {
            max-width: 80%;
            margin: 15px auto 0 auto;
            position: relative;

            img {
                width: 100%;
            }
        }


        .swiper-button-prev, .swiper-button-next {
            width: 30px;
            // height: 30px;
            background: url('../images/product-arrow-left.svg') center no-repeat;
            background-size: 28px;
            margin-left: -50px;
        }

        .swiper-button-next {
            background-image: url('../images/product-arrow-right.svg');
            margin-left: auto;
            margin-right: -50px;
        }

        .product-detail {
            margin-top: 3rem;
            @media only screen and (min-width : 992px) {
                margin-top: 0;
            }

            p {
                font-size: 1.4rem;
            }

            p:first-of-type {
                font-family: 'Aileron-Regular';
            }

            .video {
                margin-top: 3rem;
            }

            .pack-size {
                h6 {
                    font-family: 'Aileron-Regular';
                    font-size: 1.4rem;
                    color: #212121;
                    letter-spacing: 2.8px;
                    border-bottom: 1px solid #EEEEEE;
                    display: block;
                    padding: 2rem 0;
                    margin: 2rem 0;
                }

                table {
                    td {
                        font-family: 'Aileron-Regular';
                        font-size: 1.4rem;
                        color: #9FA3A7;
                        letter-spacing: 0;
                        line-height: 30px;
                        padding: 2px 5px;

                        strong {
                            font-weight: normal;
                            font-family: 'Aileron-Regular';
                            font-size: 1.4rem;
                            color: #018C99;
                            letter-spacing: 0;
                            line-height: 30px;
                        }
                    }
                }
            }
        }

        .products {
            margin-top: 3rem;

            h4 {
                font-family: 'Aileron-SemiBold';
                font-size: 1.8rem;
                color: #018C99;
                letter-spacing: 0;
            }

            a {
                text-decoration: none;
            }

            .thumbnail {
                padding: 0;
                border-radius: 0;
                border: 0;


                img {
                    width: 100%;
                }

                .caption {
                    padding: 1.5rem 0.5rem;
                    text-align: center;
                    h3 {
                        margin: 0;
                        font-family: 'Aileron-SemiBold';
                        font-size: 1.5rem;
                        color: #018C99;
                        letter-spacing: 0;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                }
            }
        }
    }
}
