html.home {
    .navbar-default {
      margin-bottom: 0;
    }

    section.welcome {
        width: 100%;
        // height: 100%;

        .banner {
            width: 100%;
            height: auto;
            // background: #fff center no-repeat;
            // background-position: center;
            // background-size: cover;
            // padding-top: 4rem;

            // @media only screen and (min-width : 768px) {
            //     background-position: center;
            //     padding-top: 6rem;
            //     height: 400px;
            // }

            // @media only screen and (min-width : 1600px) {
            //     height: 600px;
            // }

            .container {
                height: 100%;
            }

            .content {
                // background: yellow;
                height: 100%;
                text-align: center;
                // flex-direction: column;
                // display: flex;
                // align-items: center;
                // justify-content: center;

                @media only screen and (min-width : 768px) {
                    width: 50%;
                }
            }

            h1 {
                font-family: 'Pacifico-Regular';
                font-size: 5rem;
                color: #018C99;
                letter-spacing: 0;
                text-shadow: 0 2px 4px rgba(0,0,0,0.11);

                @media only screen and (min-width : 768px) {
                    font-size: 6rem;
                }
                @media only screen and (min-width : 992px) {
                    font-size: 7rem;
                }
            }

            h4 {
                font-family: 'Aileron-Light';
                font-size: 1.8rem;
                color: #1C1C1C;
                letter-spacing: 0;
                line-height: 2;
            }

            p {
                font-family: 'Aileron-Light';
                font-size: 2.5rem;
                color: #535353;
                letter-spacing: 0;
            }

            .btn {
                background: #FFFFFF;
                font-family: 'Aileron-Light';
                font-size: 13px;
                color: #000000;
                letter-spacing: 2.4px;
                border: 0.5px solid rgba(1,140,153,0.27);
                border-radius: 100px;
                padding: 1.2rem 3.5rem;

                @media (min-width: 768px) {
                    padding: 1.5rem 5rem;
                }
            }
        }

        .brands {
            border-top: 1px solid #F8FAF6;
            background-color: #fff;
            text-align: center;
            padding: 2.5rem 0;
            img {
                display: inline-block;
                margin: 0 2rem;
                max-width: 7rem;
            }
        }

        .info {
            background: #F8FAF6;
            font-size: 1.5rem;
            line-height: 1.6;
            color: #575757;
            padding: 4rem 0;
            text-align: center;

        }
    }

    section.categories {
        .bg {
            background: transparent;
            // background-size: cover;
            min-height: 40rem;
            @media only screen and (min-width : 768px) {
                min-height: 55rem;
            }

            &.off-top {
                @media only screen and (min-width : 768px) {
                    margin-top: -194px;
                }
            }

            .content {
                opacity: 0.95;
                background-image: linear-gradient(-135deg, #F26F38 0%, #DC8F4A 100%);
                position: absolute;
                bottom: 0;
                text-align: center;
                padding: 3rem 0;
                width: 45%;

                @media only screen and (min-width : 768px) {
                    padding: 3rem 0;
                }

                @media only screen and (min-width : 992px) {
                    padding: 3.5rem;
                }

                &.f-l {
                    left: 0;
                }

                &.f-r {
                    right: 0;
                }

                &.default {
                    background-image: linear-gradient(-135deg, #F26F38 0%, #DC8F4A 100%);
                }

                &.purple {
                    background-image: linear-gradient(-109deg, #BA22B0 1%, #F15FE2 100%);
                }

                &.brown {
                    background-image: linear-gradient(-246deg, #D1913C 0%, #ECA84D 67%, #FFD194 100%);
                }

                &.blue {
                    background-image: linear-gradient(-135deg, #38B8F2 0%, #3C59F6 100%);
                }

                &.red {
                    background-image: linear-gradient(51deg, #FE5196 0%, #FD568D 17%, #FD568D 17%, #F77062 100%);
                }

                &.cyan {
                    background-image: linear-gradient(-226deg, #3584A7 0%, #14C9B3 100%);
                }

                &.green {
                    background-image: linear-gradient(-122deg, #AAFFA9 0%, #1CCD5A 100%);
                }

                &.orange {
                    background-image: linear-gradient(-136deg, #FAD961 0%, #F76B1C 100%);
                }

                &.orange-2 {
                    background-image: linear-gradient(0deg, #E23313 0%, #F7572E 100%);
                }

                h2 {
                    font-family: 'Aileron-Bold';
                    font-size: 2.5rem;
                    color: #fff;
                    margin: 0 0 1rem 0;

                    @media only screen and (min-width : 768px) {
                        font-size: 3rem;
                    }

                    @media only screen and (min-width : 1200px) {
                        font-size: 3.5rem;
                    }
                }

                p {
                    font-family: 'Aileron-Regular';
                    font-size: 1.5rem;
                    color: #fff;
                }
            }
        }

        .slider-bg {
            background: #F5F5F5;

            @media only screen and (min-width : 768px) {
                &:after {
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 1.5rem 1.5rem 1.5rem 0;
                    border-color: transparent #F5F5F5 transparent transparent;
                    position: absolute;
                    left: -1.5rem;
                    top: 50%;
                    margin-top: -1.5rem;
                    z-index: 999;
                }

                &.col-sm-pull-6 {
                    &:after {
                        left: auto;
                        right: -1.5rem;
                        border-width: 1.5rem 0 1.5rem 1.5rem;
                        border-color: transparent transparent transparent #F5F5F5;
                    }
                }
            }
        }

        .swiper-button-next {
            background-image: url('../images/arrow-right.svg');
            background-size: 34px;
            width: 35px;
            height: 35px;
            right: 20px;
            margin-top: -18px;
        }

        .swiper-button-prev {
            background-image: url('../images/arrow-left.svg');
            background-size: 34px;
            width: 35px;
            height: 35px;
            left: 20px;
            margin-top: -18px;
        }

        .home-products-slider {
            padding: 2.5rem 0;
            max-width: 500px;

            a {
                text-decoration: none;
            }

            .item {
                background: #fff;
                border-radius: 6px;
                font-family: 'Aileron-Regular';
                font-size: 1.8rem;
                color: #2C2C2C;
                padding: 2rem 2rem;
                max-width: 25rem;
                margin: 0 auto;

                @media only screen and (min-width : 992px) {
                    padding: 2rem 2rem;
                }

                @media only screen and (min-width : 1400px) {
                    padding: 3rem 2rem;
                }

                h4 {
                    font-family: 'Aileron-Regular';
                    font-size: 1.4rem;
                    color: #9FA3A7;
                    letter-spacing: 0;
                    margin: 0 0 0.5rem 0;
                    line-height: 1.8;
                }

                h3 {
                    font-family: 'Aileron-Regular';
                    font-size: 1.6rem;
                    color: #2C2C2C;
                    letter-spacing: 0;
                    margin-bottom: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                img {
                    margin: 0 auto;
                }
            }
        }
    }
}