html {
    // position: relative;
    // min-height: 100%;

    // @media only screen and (min-width : 992px) {
    //     width: 100%;
    //     height: 100%;
    //     min-height: 700px;

    //     body {
    //         height: 100%;
    //         position: relative;
    //     }
    // }
}

body {
  background-color: #fff;
  line-height: 1.6;
}

.navbar-default {
  margin-bottom: 10px;
}

.navbar-brand {
  padding: 10px 15px;
  img {
    height: 100%;
  }
}

.navbar-header {
  z-index: 999;
  position: relative;
}

.nav > li > a {
    padding: 10px 25px;
    @media (min-width: 768px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.dropdown-menu > li > a {
  padding: 6px 20px;

}

@media only screen and (min-width : 992px) {
  .navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
      a {
        font-family: 'Rubik';
        font-size: 1.3rem;
        position: relative;
        letter-spacing: 2.23px;
        text-transform: uppercase;

      }

      &.active {
        a {
          &:before {
              content: '';
              width: 4px;
              height: 4px;
              background: #51B948;
              border-radius: 50%;
              display: inline-block;
              position: absolute;
              top: 20%;
              left: 50%;
              margin-left: -2px;
          }
        }
      }
    }
  }
}

.navbar-default .navbar-toggle {
  border: 0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #018C99;
}

.navbar-collapse {
    @media (min-width: 992px) {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0;
    }

}

.no-gutter {
    margin-left: 0 !important;;
    margin-right: 0 !important;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}
.row-full{
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.footer {
  background-color: #fff;
  font-family: 'Aileron-Regular';
  font-size: 1.4rem;
  color: #484848;
  padding: 2.5rem 0;
  text-align: center;
  @media only screen and (min-width : 768px) {
    text-align: left;
  }

  a {
    color: #484848;
  }

  .credit {

    @media only screen and (min-width : 768px) {
      text-align: right;
    }
  }

}

.footer-menu {
  padding: 2rem 0;
  background: #212121;

  text-align: center;
  @media only screen and (min-width : 768px) {
    text-align: left;
  }

  img {
    height: 80px;
  }

  ul.menu {
    padding: 0;
    margin: 0;
    @media only screen and (min-width : 768px) {
      margin: 0 auto;
      display:table;
      width:100%;
    }
    li {
      padding: 0.5rem 1.5rem;
      @media only screen and (min-width : 768px) {
        // display: inline-block;
        list-style-type: none;
        display: table-cell;
        padding: 0 1.2rem;
        text-align: center;
      }

      @media only screen and (min-width : 1200px) {
        padding: 0 1.5rem;
      }
      a {
        font-family: 'Rubik';

        font-size: 1.2rem;
        color: #D0D0D0;
        letter-spacing: 2.23px;
        line-height: 40px;
        @media only screen and (min-width : 768px) {
          line-height: 80px;
        }
      }

    }
  }

  ul.social {
    margin: 2rem 0;
    @media only screen and (min-width : 768px) {
      margin: 0;
      text-align: right;
    }
    li {
      padding: 0 1.5rem;

      @media only screen and (min-width : 768px) {
        padding: 0 2rem;
        line-height: 80px;
      }

      .fa {
        font-size: 2rem;
        color: #B5B5B5;
      }
    }
  }
}

.navigations {
  width: 100%;
  clear: both;
  margin-top: 8rem;

  a {
    font-size: 1.8rem;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 100px;
    background: #17968F;
    width: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    .fa {
      margin: 0 0.5rem;
    }

    &:hover {
      background-color: #11706A;
    }

    &:first-child {
      border-right: 1px solid rgba(255,255,255,0.1);
    }
  }
}

.white-popup {
  position: relative;
  background: #fff;
  padding: 0;
  width: auto;
  max-width: 600px;
  margin: 20px auto;

  .content {
    padding: 3rem 2rem;

    h1 {
        font-family: 'Rubik';
        font-size: 2.4rem;
        color: #313131;
        letter-spacing: 0;
    }

    h3 {
        font-family: 'Rubik';
        font-size: 1.6rem;
        color: #313131;
        letter-spacing: 0;
    }

    p {
        font-family: 'Aileron-Light';
        font-size: 1.4rem;
        letter-spacing: 0;
        line-height: 1.8;
        color: #333;
    }
  }
}