html.recipe {
    body {
        background: #F3F3F3;
    }

    .sidebar {
        background: #fff;
        margin-bottom: 3rem;

        @media only screen and (min-width : 768px) {
            margin-bottom: 0;
        }

        h2 {
            margin: 0;
            padding: 0 2.5rem;
            font-family: 'Rubik';
            font-weight: 400;
            font-size: 1.8rem;
            color: #018C99;
            line-height: 60px;
        }

        ul.menu {
            margin: 0;
            padding: 0;

            li {
                border-bottom: 0.5px solid rgba(1, 140, 153, 0.15);
                &:first-child {
                    border-top: 0.5px solid rgba(1, 140, 153, 0.15);
                }

                a {
                    display: block;
                    padding: 1.8rem 2.5rem;
                    font-family: 'Rubik';
                    font-weight: 400;
                    font-size: 1.4rem;
                    color: #242424;
                    letter-spacing: 0;
                    position: relative;
                    text-decoration: none;

                    &:after {
                        content: '';
                        width: 5rem;
                        background: url('../images/menu-arrow-right.svg') center no-repeat;
                        background-size: 8px;
                        position: absolute;
                        top: 0;
                        height: 100%;
                        right: 0;
                    }

                    &:hover, &:active, &:focus {
                        color: #018C99;
                    }

                }

                &.active {
                    background-color: #018C99;
                    a {
                        color: #fff;
                    }
                    a:after {
                        background-image: url('../images/menu-arrow-right-active.svg');
                    }
                }

            }
        }
    }

    .content {
        & > .row {
            padding: 2rem 0;
        }

        a.go-back {
            display: block;
            font-family: 'Aileron-Regular';
            font-size: 1.4rem;
            color: #B5B5B5;
            letter-spacing: 2.4px;
            margin: 0 0 1.5rem 0;

            .fa {
                font-size: 1.2rem;
                color: #018C99;
            }
        }

        & > img {
            margin-bottom: 3rem;
        }

        font-family: 'Aileron-Regular';
        font-size: 1.5rem;
        color: #575757;
        letter-spacing: 0;

        h2 {
            font-family: 'Aileron-Regular';
            font-size: 2.5rem;
            color: #018C99;
            letter-spacing: 0;
            margin-top: 0;
        }

        h4 {
            font-family: 'Aileron-Regular';
            font-size: 1.4rem;
            color: #212121;
            letter-spacing: 2.8px;
            margin-bottom: 1rem;
            // margin: 0 0 1rem 0;
        }

        p:first-of-type {
            font-family: 'Aileron-Semibold';
        }

        .item.icon-play {
            position: relative;
            &:after {
                position: absolute;
                left: 0;
                top: 0;
                content: '';
                width: 100%;
                height: 100%;
                background: url('../images/icon-play.svg') center no-repeat;
                background-size: 40px;
                z-index: 10;
                pointer-events: none;
                transition: transform 0.3s;
                transform: scale(1);

            }

            &:hover {
                &:after {
                    transform: scale(1.1);
                }
            }

            &.icon-small {
                &:after {
                    background-size: 30px;
                }

            }

            a.popup-youtube {
                display: block;
                position: relative;
                z-index: 0;
            }
        }

        .products-slider {
            img {
                width: 100%;
            }
        }

        .products-slider-thumb {
            max-width: 80%;
            margin: 15px auto 0 auto;
            position: relative;

            img {
                width: 100%;
            }
        }


        .swiper-button-prev, .swiper-button-next {
            width: 30px;
            // height: 30px;
            background: url('../images/product-arrow-left.svg') center no-repeat;
            background-size: 28px;
            margin-left: -50px;
        }

        .swiper-button-next {
            background-image: url('../images/product-arrow-right.svg');
            margin-left: auto;
            margin-right: -50px;
        }

        .product-detail {
            margin-top: 3rem;
            @media only screen and (min-width : 992px) {
                margin-top: 0;
            }

            p {
                font-size: 1.4rem;
            }

            p:first-of-type {
                font-family: 'Aileron-Regular';
            }

            .video {
                margin-top: 3rem;
            }

            .options {
                h6 {
                    font-family: 'Aileron-Regular';
                    font-size: 1.4rem;
                    color: #212121;
                    letter-spacing: 2.8px;
                    border-bottom: 1px solid #EEEEEE;
                    display: block;
                    padding: 2rem 0;
                    margin: 2rem 0;
                }

                table {
                    margin: 0;
                    td {
                        font-family: 'Aileron-Regular';
                        font-size: 1.3rem;
                        color: #575757;
                        letter-spacing: 0;
                        line-height: 30px;
                        padding: 2px 5px 2px 20px;
                        background: url('../images/icon-spoon.svg') 0 center no-repeat;

                        strong {
                            font-weight: normal;
                            font-family: 'Aileron-Regular';
                            font-size: 1.4rem;
                            color: #018C99;
                            letter-spacing: 0;
                            line-height: 30px;
                        }
                    }
                }

                ol {
                    margin: 0;
                    padding: 0;
                    list-style-position: inside;
                    li {
                        margin: 1.5rem 0;
                        font-family: 'Aileron-Regular';
                        font-size: 1.4rem;
                        color: #575757;
                        letter-spacing: 0;
                        line-height: 26px;

                    }
                }
            }
        }

        .products {
            margin-top: 3rem;

            h4 {
                font-family: 'Aileron-SemiBold';
                font-size: 1.8rem;
                color: #018C99;
                letter-spacing: 0;
            }

            h5 {
                font-family: 'Aileron-Regular';
                font-size: 1.4rem;
                color: #575757;
                letter-spacing: 0;
                line-height: 24px;
            }

            a {
                text-decoration: none;
            }

            .thumbnail {
                padding: 0;
                border-radius: 0;
                border: 0;


                img {
                    width: 100%;
                }

                .caption {
                    padding: 1.5rem 1rem;
                    text-align: center;

                    h3 {
                        margin: 0;
                        font-family: 'Aileron-SemiBold';
                        font-size: 1.5rem;
                        color: #018C99;
                        letter-spacing: 0;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        &:after {
                            content: '';
                            display: block;
                            width: 50%;
                            height: 1px;
                            margin: 2rem auto;
                            background: #BBD2D4;
                            opacity: 0.5;
                        }
                    }

                    p {
                        font-family: 'Aileron-Regular';
                        font-size: 1.4rem;
                        color: #575757;
                    }

                }
            }
        }
    }
}
