==
<div class="footer-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 text-left hidden-xs hidden-sm">
                <img src="{{ 'assets/images/footer-logo.png' | theme }}" class="img-responsive">
            </div>
            <div class="col-md-6 col-sm-8">
                <ul class="menu list-unstyled">
                    <li class="active"><a href="{{ 'product-categories'|page }}">PRODUCTS</a></li>
                    <li><a href="{{ 'recipes'|page }}">RECIPES</a></li>
                    <li><a href="{{ 'about'|page }}">ABOUT</a></li>
                    <li><a href="{{ 'info-center'|page }}">INFO CENTER</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-4">
                <ul class="social list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row text-content">
            <div class="col-md-6 col-sm-6 copy">&copy; {{ now|date('Y') }} Renuka Foods. All rights reserved.</div>
            <div class="col-md-6 col-sm-6 credit">Solution by <a href="http://www.saberion.com"><u>SABERION</u></a></div>
        </div>
    </div>
</footer>