[catalog]
==
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="{{ 'home'|page }}" class="navbar-brand">
                <img src="{{ 'assets/images/logo.png'|theme }}">
            </a>

        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-center">
                <li {% if this.page.url == '/product-categories'%}class="active"{% endif %}><a href="{{ 'product-categories'|page }}">PRODUCTS</a></li>
                <li {% if this.page.url == '/recipes'%}class="active"{% endif %}><a href="{{ 'recipes'|page }}">RECIPES</a></li>
                <li {% if this.page.url == '/about'%}class="active"{% endif %}><a href="{{ 'about'|page }}">ABOUT US</a></li>
                <li {% if this.page.url == '/info-center'%}class="active"{% endif %}><a href="{{ 'info-center'|page }}">INFO CENTER</a></li>
                {% if catalogs|length > 0 %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CATALOG <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for catalog in catalogs %}
                        <li><a href="{{ catalog.catalog_file.path }}" target="_blank">{{ catalog.catalog_name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>