<!DOCTYPE html>
<html class="{{ this.page.class }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>{% if this.page.title %}{{ this.page.title }} - Renuka Foods{% else %}Renuka Foods{% endif %}</title>
    <meta name="description" content="{% if this.page.excerpt %}{{ str_limit(html_strip(this.page.excerpt),160) }}{% else %}Renuka Foods{% endif %}">

    <link rel="stylesheet" href="{{ 'assets/css/animate.css' | theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/swiper.min.css' | theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/magnific-popup.css' | theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/font-awesome.min.css' | theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/owl.carousel.min.css' | theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/select2.min.css' | theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/jquery.mCustomScrollbar.min.css' | theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | theme }}">

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

    <link rel="shortcut icon" href="{{ 'assets/images/favicon.png'|theme }}">

    <script src="{{ 'assets/js/jquery.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/modernizr-custom.js'|theme }}"></script>
    <script src="{{ 'assets/js/swiper.jquery.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/jquery.mCustomScrollbar.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/jquery.magnific-popup.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/wow.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/owl.carousel.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/select2.js'|theme }}"></script>
    <script src="{{ 'assets/js/parallax.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/jquery.fitvids.js'|theme }}"></script>
    <script src="{{ 'assets/js/main.js'|theme }}"></script>

</head>

<body>

{% partial "navigation" %}

{% page %}

{% partial "footer" %}

</body>

</html>
