<div data-control="toolbar">
    <a href="<?= Backend::url('saberion/renuka/productcategories') ?>" class="btn btn-primary oc-icon-caret-left">
        <?= 'Return to the Product Category list' ?>
    </a>
</div>