@charset "utf-8";

// Our variables

@each $font-face in
'Rubik-Regular',
'Rubik-Medium',
'Rubik-MediumItalic',
'Rubik-Light',
'Rubik-LightItalic',
'Rubik-Italic',
'Rubik-Black',
'Rubik-BlackItalic',
'Rubik-Bold',
'Rubik-BoldItalic',
'Aileron-Black',
'Aileron-BlackItalic',
'Aileron-Bold',
'Aileron-BoldItalic',
'Aileron-Heavy',
'Aileron-HeavyItalic',
'Aileron-Italic',
'Aileron-Light',
'Aileron-LightItalic',
'Aileron-Regular',
'Aileron-SemiBold',
'Aileron-SemiBoldItalic',
'Aileron-Thin',
'Aileron-ThinItalic',
'Aileron-UltraLight',
'Aileron-UltraLightItalic',
'Pacifico-Regular'
 {
 @font-face {
   font-family: $font-face;
   font-style: normal;
   font-weight: normal;
   src: url('../fonts/#{$font-face}/#{$font-face}.svg');
   src: url('../fonts/#{$font-face}/#{$font-face}.eot?') format('eot'), url('../fonts/#{$font-face}/#{$font-face}.woff') format('woff'), url('../fonts/#{$font-face}/#{$font-face}.ttf') format('truetype');
 }
}

$font-h: 'Aileron-Bold', sans-serif;
$font-m: 'Aileron-Bold', sans-serif;
$font-d: 'Aileron-Regular', sans-serif;
$font-p: 'Aileron-Regular', sans-serif;

$spacing-unit:     30px;

$head-color:    #000;
$text-color:    #000;
$theme-color:   #018C99;
$bdr-color: #E6E6E6;
$bg-light: #F7F7F7;

$footer-bg: #1D1D1F;

// $devices
$device-xs: 480px;
$device-sm: 768px;
$device-md: 992px;
$device-lg: 1200px;

@mixin respond-from($min, $max){
  @if $min == null{
    @media (max-width: $max - 1) {
      @content;
    }
  } @else if $max == null{
    @media (min-width: $min) {
      @content;
    }
  } @else{
    @media (min-width: $min) and (max-width: $max - 1) {
      @content;
    }
  }
}

@mixin respond-to($rule, $device) {
  @if $rule == min {
    @media (min-width: $device){
      @content;
    }
  } @else if $rule == max {
    @media (max-width: $device - 1){
      @content;
    }
  }
}
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

@mixin mb($val){
  margin-bottom: $val + px !important;
}

@mixin mt($val){
  margin-top: $val + px !important;
}

@mixin row-table($device){
  @include respond-to(min, $device){
    display: table !important;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    > div{
      display: table-cell;
      vertical-align: middle;
      float: none;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@mixin v-middle(){
  //height: 100%;
  display: table;
  > div{
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }
}

@mixin v-bottom(){
  //height: 100%;
  display: table;
  > div{
    width: 100%;
    display: table-cell;
    vertical-align: bottom;
  }
}

/**
 * Clearfix
 */
@mixin clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@function calculateRem($size) {
  $remSize: $size / 14px;

  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "_sass/bootstrap",
    "_sass/base",
    "_sass/layout",
    "_sass/home",
    "_sass/category",
    "_sass/recipe",
    "_sass/about",
    "_sass/responsive"
;