title = "About"
url = "/about"
layout = "default"
is_hidden = 0
class = "about"
==

<div class="banner">
    <h1>About Us</h1>
    <p>One of the most respected entities in Sri Lanka</p>
</div>

<div class="container">
    <ul class="top-menu">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#group-companies">GROUP COMPANIES</a></li>
        <li><a href="#global-presense">GLOBAL PRESENCE</a></li>
        <li><a href="#global-presense">LOCAL PRESENCE</a></li>
        <li><a href="#rnd">R&D</a></li>
        <li><a href="#our-facilities">FACILITIES</a></li>
        <li><a href="#out-growers">OUT GROWERS</a></li>
        <li><a href="#csr">CSR</a></li>
        <li><a href="#sustainablity">SUSTAINABLITY</a></li>
    </ul>

    <section class="about" id="about">
        <div class="container">
            <h1>Renuka Foods PLC</h1>
            <h3 class="subtitle">A Proud Sri Lankan</h3>

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <p>Our brands are household names in Sri Lanka, known and loved by the thousands who have depended on us for decades.Yet, not everyone knows how our success story has evolved; the deep rooted heritage of a truly home grown company, the
local understanding and strength of our impact on many people’s lives.</p>

<p>In 1975, a seed was planted for a Sri Lankan company that had a thriving desire to branch out into value addition in our agricultural sector, drawing on the expertise of the families’ involvement in agriculture since the last century.</p>

<h4>Culture and Values</h4>

<p>Renuka’s culture reflect more than a structure, it is a statement of values. Our
commitment to a Responsive, Enterprising, Nuturing, Unrelenting, Knowledgeable
and Accountable work- place enables us to build relationships with clients and with
colleagues, on honesty and trust. It drives our ability to deliver great products and
services and to generate superior long-term financial performance for our shareholders.</p>

                </div>

                <div class="col-md-6 col-sm-6">
                    <p>The Company was listed on the Colombo Stock Exchange in 1994. Through acquisitions the company now traces its roots to 1891 becoming one of Sri Lankans oldest food and beverage corporates.</p>

<p>Renuka Foods PLC is the parent company of our Food and Beverage businesses consisting of Agri Food, Organic Plantations, FMCG, Dairy and related entities.</p>

<img src="{{ 'assets/images/about/renuka.png'|theme }}" class="img-responsive renuka">

                </div>
            </div>

        </div>
    </section>
</div>

<section class="group" id="group-companies">
    <h1>Group Companies</h1>

    <div class="row no-gutter logos">
        <a href="#group-1" class="open-popup-link col-md-15 col-sm-6 col-xs-12 item" style="background-image:url('{{ 'assets/images/about/group-logo-1.png'|theme }}')">
            <div class="caption">
                <h6>Renuka Agri Foods PLC &<br> Renuka Agri Organics</h6>
            </div>
        </a>

        <a href="#group-2" class="open-popup-link col-md-15 col-sm-6 col-xs-12 item" style="background-image:url('{{ 'assets/images/about/group-logo-2.png'|theme }}')">
            <div class="caption">
                <h6>Renuka Teas Ceylon (Pvt) Ltd</h6>
            </div>
        </a>

        <a href="#group-3" class="open-popup-link col-md-15 col-sm-6 col-xs-12 item" style="background-image:url('{{ 'assets/images/about/group-logo-3.png'|theme }}')">
            <div class="caption">
                <h6>Kandy Plantations Ltd</h6>
            </div>
        </a>

        <a href="#group-4" class="open-popup-link col-md-15 col-sm-6 col-xs-12 item" style="background-image:url('{{ 'assets/images/about/group-logo-4.png'|theme }}')">
            <div class="caption">
                <h6>Shaw Wallace Ceylon Ltd</h6>
            </div>
        </a>

        <a href="#group-5" class="open-popup-link col-md-15 col-sm-12 col-xs-12 item" style="background-image:url('{{ 'assets/images/about/group-logo-5.png'|theme }}')">
            <div class="caption">
                <h6>Richlife Dairies Ltd</h6>
            </div>
        </a>

    </div>
</section>


<section class="presense" id="global-presense">
    <div class="container">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#global" role="tab" data-toggle="tab">Global Presence</a></li>
            <li role="presentation"><a href="#local" role="tab" data-toggle="tab">Local Presence</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="global">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <h5>A long established presence in more
                            than 60 countries</h5>

                        <p>Renuka Foods operates seven state-of-the-art factories and warehouses, eight collection and processing centres and two plantations, all catering towards servicing the wants and needs of clients spread across <strong>61 countries worldwide and over 70,000 outlets throughout Sri Lanka.</strong> We contribute over Rupees 2.5 Bn to the rural economy annually.</p>
                    </div>
                    <div class="col-md-7 col-sm-7 text-center">
                        <img src="{{ 'assets/images/about/map-global.png'|theme }}"
                             class="img-responsive">
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="local">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <h5>A long established presence in more than 60 countries</h5>

                        <p>Renuka Foods operates seven state-of-the-art factories and warehouses, eight collection and processing centres and two plantations, all catering towards servicing the wants and needs of clients spread across <strong>61 countries worldwide and over 70,000 outlets throughout Sri Lanka.</strong> We contribute over Rupees 2.5 Bn to the rural economy annually.</p>
                    </div>
                    <div class="col-md-7 col-sm-7 text-center">
                        <img src="{{ 'assets/images/about/map-local.png'|theme }}"
                             class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
<section class="innovation" id="rnd">
    <div class="container">
        <h1>R&D Center of Innovation</h1>

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p>Renuka Foods’ R&D centre of innovation brings together the best expertise to help in developingproducts that exceed consumer and customer expectations. This facility is designed to unlock new opportunities for breakthrough innovation across the company’s diverse portfolio of food and beverage products as well as to create innovative new products that keep up with changing consumer needs.</p>

<p>Innovation has always fuelled Renuka Foods’ growth engine and enabled us to build a portfolio of great tasting, convenient and healthy nutritious food and beverage brands which are loved by consumers locally and globally.</p>
            </div>

            <div class="col-md-6 col-sm-6">
                <p>We undertake extensive market and consumer research to discover consumer habits in food and beverage and to identify emerging needs based on changing life styles. Our R&D Centre of Innovation uses these insights to design and develop new products. We maintain pilot plant facilities enabling us to simulate actual manufacturing conditions, so that the proto types match commercial production, ensuring that the end product delivery to the consumer is the same as the test product.</p>
            </div>
        </div>

        <div class="facilities" id="our-facilities">
            <img src="{{ 'assets/images/about/facilities-bg.png'|theme }}" class="img-responsive">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <ul class="menu">
                        <li class="active"><a role="tab" data-toggle="tab" href="#building">Building</a></li>
                        <li><a role="tab" data-toggle="tab" href="#warehouse">Warehouse</a></li>
                        <li><a role="tab" data-toggle="tab" href="#fleet">Fleet</a></li>
                        <li><a role="tab" data-toggle="tab" href="#manufacturing-facility">Manufacturing Facility</a></li>
                    </ul>
                </div>
                <div class="col-md-9 col-sm-9 content">

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="building">
                            <h2>Shaw Wallace Building</h2>

                            <p>Situated in the main highway connecting the North and South of Colombo the Shaw Wallace Building is a modern 8 storey corporate headquarters consisting of 70,000 sq ft.. Currently Shaw Wallace occupies part of the building while the rest is tenanted by a prestigious clientele.</p>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="warehouse">
                            <h2>Shaw Wallace Warehouse</h2>

                            <p>Located on the main highway leading to the International Airport and interlinking the North Western and southern points of Colombo as well as the second largest city of Kandy, the Shaw Wallace warehouse is a 80,000 sq ft facility on a large area of land to grow and cater to the company’s needs over the years.</p>

                            <p>We are equipped with optimum storage and inventory systems allowing us to respond rapidly to customer demand. In order to maintain the highest standard of storage for its products, Shaw Wallace Ceylon Ltd has consistently invested in its supply chain and inventory systems.</p>

                            <p>Our newly instituted warehouse facility with end to end racking systems ensures capacity for better temperature controlled inventory. The multiple docking system and information system improvements also ensure faster efficient response to our customers.
                            </p>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="fleet">
                            <h2>Shaw Wallace Fleet</h2>

                            <p>A fully fledged fleet of Lorries and prime movers cater to our delivery requirements thus ensuring that products and service continue uninterrupted.</p>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="manufacturing-facility">
                            <h2>Manufacturing Facility</h2>

                            <p>Our own facilities are situated in Ekala and Wadduwa where we manufacture using local raw material products such as Soya, Drink mixes, Snacks, Canned fish, fruit juices and a range of dairy products.</p>

                            <h4>Quality</h4>

                            <p>Our food manufacturing process and quality management systems are accredited for food safety by the award of ISO 22000: 2005 Food Safety Management Systems Certification.</p>

                            <p>Our Manufacturing environment is accredited as a safe work environment for our employees by the award of OHSAS18001: 2007 Occupational Health and Safety Assurance Systems certification.</p>

                            <p>Our Commitment and care for our environment is demonstrated by the award of ISO 14001: 2004 Environment Management Systems certification.</p>

                            <p>In addition, our fruit products have earned 'SLS' product certifications from Sri Lanka Standards Institute.</p>

                            <img src="{{ 'assets/images/about/quality-logos.jpg'|theme }}" class="img-responsive">

                            <h4>Our out growers</h4>

                            <p>We carry out dairy development and extension programmes in selected geographical locations. These development programmes include facilitating microfinance arrangements, provision of essential requirements at subsidized schemes, credit, insurance, distress grants, educational assistance, welfare programmes and provision of technical knowledge.</p>

                            <p>Our technically qualified and experienced dairy development officers operate from these centres and we carry out Procurement activities from our chilling centres located in Galaha, Kiridiwela, Bandaragama, Horana, Dambulla, Nikawaratiya and Wadduwa.</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section> -->


<section class="farmers" id="out-growers">
    <div class="container">
        <h1>Out-Growers / Farmers</h1>

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p>We support over 7000 farmer families and ensure Fair-trade, conduct out grower training programs, and support the concept of farm to shelf through buy back guarantees on agricultural produce such as coconut, dairy milk and kithul treacle. Our collection and processing centres across the country collect from local farmers, supporting the nation to become self-dependent on agriculture and dairy and thus contribute to over Rs 2.8 Bn (approx USD 18 mn) to the rural economy annually.</p>

                <p>Our organic certified coconut business provides buy back guarantees to ensure the farmer has a confirmed purchaser at a guaranteed price for his produce. Organic farmers are supported not only with the buy back guarantee, but with intensive training and provision of resources to enhance organic farming capabilities.</p>
            </div>

            <div class="col-md-6 col-sm-6">
                <p>Our dairy business purchases milk 365 days a year from our permanent farmer base of ove 2000 dairy farmers via our 08 collection centers spread out across the North Central, Central and Western Provinces of the country. Our relationship with the farmers is a partnership for mutual benefit and not just a buyer – supplier relationship. In order to strengthen our partnership with our farmers we have set up a welfare fund to assist them. Both the farmer and the company contribute to this fund where farmers get assistance during child birth, attaining of age of daughters, passing of grade 5 scholarship examination by their children, farmer children gaining admission to university etc. The company also spends on training farmers on good practices for mutual benefit.</p>

                <p>We also assist our farmers by negotiating with banks and micro finance organizations to assist them with funding.</p>
            </div>
        </div>

    </div>
</section>

<section class="renuka-group">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <p>For more information about the group – Please visit www.renukagroup.com</p>

                <p class="lead"><a href="http://renukagroup.com/index.php" target="_blank">Renuka Group</a></p>
            </div>
        </div>

    </div>
</section>

<!--
<section class="agri-foods">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus euismod ornare. Etiam tincidunt fringilla sem, quis blandit orci semper non. </p>

                <p class="lead"><a href="#">Renuka Agri Foods PLC</a></p>
            </div>
        </div>

    </div>
</section> -->

<section class="csr" id="csr">
    <div class="container">
        <h1>Corporate Social Responsibility</h1>

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p>At Renuka we believe that visionary entrepreneurship and philanthropy go hand in hand and the group has set up “the Renuka Charitable Foundation”. The RCF will disperse financial assistance to several institutions or individuals in need, predominantly at grass root levels, particular focus on underprivileged marginalized lowest income groups. A percentage of the Group profit and dividend will add to the income of the RCF and will be administered by the board of Trustees who will program need assessment, resource allocation and grant disbursement.</p>

<p>Partnership with Lanka Good Market (Gte) Ltd to support the IFOAM’S Participatory
Guaranteed System
Renuka has throughout been in the forefront of the Sri Lankan organic agriculture as a well respected manufacturer of certified organic food and beverages. The industry peers look up to the company as a corporate entity that gained recognition for the initiations taken to promote a diverse range of Sri Lankan organic coconut produce internationally.</p>
            </div>

            <div class="col-md-6 col-sm-6">
                <p>The market environment for organic coconut is evolving and new entrants with “cheap”
products gaining global market share risking the national organic integrity. In order to
facilitate credibility of local organic produce the company has partnered proudlywith Lanka
Good Market’s PGSestablished as per the guidelines of IFOAM to:</p>

<ul>
    <li>Promote organic agriculture locally as per the PGS standards</li>
    <li>Support an economical organic certification mechanism to make organic affordable for the grower as well as the consumer</li>
    <li>Uplift the marginalized organic farmers</li>
    <li>Encourage consumer engagement to maintain organic practices transparent across the value chain.</li>
</ul>
            </div>
        </div>

    </div>
</section>

<section class="sustainablity" id="sustainablity">
    <div class="container">
        <h1>Sustainability</h1>

        <div class="row">
            <div class="col-md-6 col-sm-6">

                <p>Our farms are in the heart of the famed coconut triangle, a lush and rustic environment where a simple way of life still prevails, pollution is minimal and organic farming has been a way of life for generations. This lifestyle still continues and we ensure that it stays uninterrupted. We have been practicing organic farming for many years and have the distinction of being Sri Lanka’s first organic producer of red rice in 1989, this vast experience in organic farming has today resulted in us managing organic plantations.</p>

<p>Our coconut farms are rich in biodiversity and intercropped with both long and short term crops such as mango, jak fruit, pepper, banana and teak to name a few. Though our production facilities are most modern in the country, our organic cultivation involves traditional farming methods, which include cow dung, composte heaps, rice straw and gliricidia leaves. 
Gliricida leaves are abundant in our plantations and grown between coconut treas.Gliricidia Septum is an extremely versatile plant and is extremely effective in Organic Fertiser. Throughout both its native and exotic ranges it is used to supply tree products such as fuelwood, construction poles, crop supports, green manure, fodder and bee forage. In addition, it is used in living fences,to stabilize soil and prevent erosion plus to shade plantation crops and also as a traditional medicine for eczema.</p>

<p>Our farms also produce and abundance of coconut husks during the de husking process. Cior or cocopeat naturally retain a good level of water while losing excess water, leaving the plant in a well hydrated but not flooded state.</p>

            </div>
            <div class="col-md-6 col-sm-6">
                <p>Another important component of the farm eco system is cattle breeding. At present around 400 cattle roam freely, which belong to the farmer families which live free of cost around our plantations. The cattle droppings again provide further manure to plantations and the cattle in turn provide the families with milk, which is bought by our dairy manufacturing subsidiary to be used in our dairy based products.This enables the families to earn a livelihood and provides a job security as well, especially for the women fold of the household.</p>

                <p>Our philosophy in preserving and sustaining our surroundings is an utmost priority; our plantations are equipped with some of the irrigation methods Sri Lankans Kings used in ancient times; which is a construction of soil dams across streams at different elevations with overflows, thus a large capacity of rainwater is harvested in water reservoirs.  Rainwater collected in reservoirs at different elevation along the stream leads to uplift the ground water table which in turn has benefited coconut production. The ponds are used effectively as ideal water sources for irrigation during dry season and also serve as watering holes to different small animals which live in the plantations.</p>

                <p>Our production creates a lot of coconut husks which were initially being wasted. Meanwhile, our factories were using diesel based boilers and engines for electricity generation. We have converted these to a coconut based boiler so that we don’t use diesel, but coconut husks to power our production.</p>

            </div>
        </div>

    </div>
</section>

<div class="navigations">
    <a href="{{ 'recipes'|page }}"><i class="fa fa-long-arrow-left"></i> RECIPES</a><a href="{{ 'info-center'|page }}">INFO CENTER <i class="fa fa-long-arrow-right"></i></a>
</div>

<div id="group-1" class="white-popup mfp-hide">

  <img src="{{ 'assets/images/about/bg-group-1.jpg'|theme }}" class="img-responsive">
  <div class="content">
      <h1>Agri Food Cluster</h1>

      <h3>Coconut based Food and Beverages</h3>
      <p><strong>Renuka Agri Foods PLC & Renuka Agri Organics Ltd</strong>, are the leading manufacturers, marketers & exporters of Coconut based food and beverages from Sri Lanka.</p>

      <p>Our quality measures are of stringent standards and are not compromised at any point, right from the raw material purchases to delivery of goods.</p>

      <p>Innovation has been a key strength of the company thus enabling entry into new markets and ensuring that we always remain as the Coconut Centre of Excellence.</p>
    </div>
</div>

<div id="group-2" class="white-popup mfp-hide">

  <img src="{{ 'assets/images/about/bg-group-2.jpg'|theme }}" class="img-responsive">
  <div class="content">
      <h1>Ceylon Tea and Superfoods</h1>

      <p><strong>Renuka Teas Ceylon (Pvt) Ltd</strong> is dedicated to the value addition of Ceylon tea, Cinnamon, Moringa and Turmeric in various forms for export markets. Renuka Teas Ceylon (Pvt) Ltd has a century of experience tracing its roots to Bois Bros. and Co. Ltd, a pioneer in Ceylon tea, established in 1891.</p>

    </div>
</div>

<div id="group-3" class="white-popup mfp-hide">

  <img src="{{ 'assets/images/about/bg-group-3.jpg'|theme }}" class="img-responsive">
  <div class="content">
      <h1>Organic Plantations</h1>

      <p>Kandy Plantations Ltd, is the Group’s foray into sustainable organic farming since the 1980s’. Today our farms are a model of a balanced eco-system, located in the heart of the famed Coconut Triangle
      Our Coconut farms are rich in biodiversity and intercropped with both long crops such as Cashew, Pepper and Cinnamon and short term crops.</p>

      <p>Another important component in the farm eco-system is cattle breeding. At present around 430 cattle roam freely, providing cow dung which forms a part of the natural fertilizer mix, along with Coconut husks, Rice straw and Gliricidia leaves.</p>

      <h3>Forestry</h3>

      <p>Our forestry is mainly situated in the Wiharagama estate in the Matale district of Sri Lanka. The land comprises of Teak, Kaya and Mahagony trees.</p>

    </div>
</div>

<div id="group-4" class="white-popup mfp-hide">

  <img src="{{ 'assets/images/about/bg-group-4.jpg'|theme }}" class="img-responsive">
  <div class="content">
      <h1>FMCG<h1>

      <p><strong>Shaw Wallace Ceylon Ltd</strong> is one of the leading FMCG brand owners and distributors in the country which sources, manufactures and markets a range of food and beverage products namely Fish, Soya, Cereals, Snacks, Fruit Beverages and Confectionery.</p>

      <p>Our General Trade network distributes directly to over 70,000 outlets and indirectly to over 100,000 across Sri Lanka assisted and monitored by over 160 company salesmen on a state-of -the-art Sales Force Automation system. We also reach the growing Modern Trade outlets and HORECA customers through dedicated sales teams. The warehouse complex is a 80,000 sq.ft. facility on an area of land designed to cater to the company’s needs over the years.  Our own manufacturing facilities are situated in Ekala where we manufacture various products using local raw materials such as Soya, Drink mixes, Snacks, Cereals & Canned fish. A fully fledged fleet of lorries and prime movers cater to our delivery requirements   thus   ensuring   that   products   and   service   continue uninterrupted.</p>

    </div>
</div>

<div id="group-5" class="white-popup mfp-hide">

  <img src="{{ 'assets/images/about/bg-group-5.jpg'|theme }}" class="img-responsive">
  <div class="content">
      <h1>Dairy<h1>

      <p><strong>Richlife Dairies Limited</strong>, was incorporated in the year 1995. It was the first company in Sri Lanka to manufacture Ultra High Temperature (UHT) treated, shelf-stable "Tetra Pak" packaged food products. We also manufacture culture dairy products.</p>

      <p>Our experienced, dynamic and qualified food technologists, laboratory and quality assurance personnel carry on continuous improvements to our recipes well supported by a group of expert consultants.</p>

    </div>
</div>