url = "/"
layout = "default"
is_hidden = 0
class = "home"
[home]
==
<section class="welcome">
    <div class="banner">
        <img src="{{ 'assets/images/home-welcome.jpg'|theme }}" class="img-responsive hidden-xs">
        <img src="{{ 'assets/images/home-welcome-mobile.png'|theme }}" class="img-responsive visible-xs">
    </div>
    <div class="brands">
        <img src="{{ 'assets/images/brands/logo-1.png'|theme }}" class="img-responsive">
        <img src="{{ 'assets/images/brands/logo-2.png'|theme }}" class="img-responsive">
        <img src="{{ 'assets/images/brands/logo-3.png'|theme }}" class="img-responsive">
        <img src="{{ 'assets/images/brands/logo-4.png'|theme }}" class="img-responsive">
        <img src="{{ 'assets/images/brands/logo-5.png'|theme }}" class="img-responsive">
        <img src="{{ 'assets/images/brands/logo-10.png'|theme }}" class="img-responsive">    <img src="{{ 'assets/images/brands/logo-7.png'|theme }}" class="img-responsive">
        <img src="{{ 'assets/images/brands/logo-8.png'|theme }}" class="img-responsive">
        <img src="{{ 'assets/images/brands/logo-6.png'|theme }}" class="img-responsive">
        <img src="{{ 'assets/images/brands/logo-9.png'|theme }}" class="img-responsive">
    </div>
    <!--<div class="info">
        <div class="container">
            Shaw Wallace Ceylon Ltd is one of the oldest companies in Sri Lanka that owns a proud
            history of corporate existence of over a century. It is at the forefront of
            manufacturing, distributing and marketing of Fast Moving Consumer Goods, built through
            years of sustained customer satisfaction. We are a subsidiary of Renuka Foods PLC and an
            associate of CJ Patel and Company Ltd, Fiji.
        </div>
    </div>-->
</section>

<section class="categories">
    {% for productCategory in productCategories %}
    <div class="row no-gutter">
        {% if loop.index % 2 == 0 %}
            <div class="col-md-6 col-sm-6 col-xs-12 bg off-top parallax-window col-sm-push-6" data-speed="0.8" data-parallax="scroll" data-image-src="{{ productCategory.home_page_image.path }}">
        {% else %}
            <div class="col-md-6 col-sm-6 col-xs-12 bg parallax-window" data-speed="0.8" data-parallax="scroll" data-image-src="{{ productCategory.home_page_image.path }}">
        {% endif %}

        {% if loop.index % 2 == 0 %}
            <div class="content {{ productCategory.category_color }} f-r">
        {% else %}
            <div class="content {{ productCategory.category_color }} f-l">
        {% endif %}
                <h2>{{ productCategory.category_name }}</h2>
                <!-- <p>{{ productCategory.short_description|raw }}</p> -->
            </div>
        </div>
        {% if  loop.index % 2 == 0  %}
        <div class="col-md-6 col-sm-6 col-xs-12 slider-bg col-sm-pull-6">
        {% else %}
        <div class="col-md-6 col-sm-6 col-xs-12 slider-bg">
        {% endif %}
            <div class="home-products-slider swiper-container">
                <div class="swiper-wrapper">
                    {% for product in productCategory.products %}
                        {% if product.feature_image_home_page %}
                            <div class="swiper-slide">
                                {% if product.is_external_link_available == 1 %}
                                    <a href="{{ product.external_link }}" target="_blank">
                                {% else %}
                                    <a href="{{ 'product'|page({product_slug:product.slug}) }}">
                                {% endif %}
                                    <div class="item">
                                        <img src="{{ product.feature_image_home_page.path }}" class="img-responsive">
                                        <h4>{{ productCategory.category_name }}</h4>
                                        <h3>{{ product.product_name }}</h3>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor  %}

                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    {% endfor %}
</section>