title = "Info Center"
url = "/info-center"
layout = "default"
is_hidden = 0
class = "about"
==

<div class="banner">
    <h1>Info Center</h1>
    <p>"One of the most respected entities in Sri Lanka"</p>
</div>

<div class="container">
 <!--    <ul class="top-menu">
        <li><a href="#awards">AWARDS</a></li>
        <li><a href="#events">EVENTS & TRADE FAIR</a></li>
        <li><a href="#press">PR</a></li>
        <li><a href="#tvc">TVC</a></li>
    </ul>
 -->
    <section class="awards" id="awards">
        <h2 class="text-center">OUR CERTIFICATIONS</h2>
        <div class="certification">
            <img src="{{ 'assets/images/info-center/logos.png'|theme }}" class="img-responsive">
        </div>

        <div class="row no-gutter">
            <div class="col-md-6 col-sm-6 bg">
            </div>
            <div class="col-md-6 col-sm-6 content">
                <h2>AWARDS</h2>

                <h6>One of the most respected entities in Sri Lanka</h6>

                <p>We also have been awarded the “Best Under a Billion USD” title by Forbes Asia and we are also winners of numerous Presidential, National, and International awards for excellence in manufacturing, exports, brands and distribution.</p>
            </div>

        </div>
    </section>
</div>
<!--
<section class="events" id="events">
    <div class="container">
        <img src="{{ 'assets/images/info-center/events-bg.png'|theme }}" class="img-responsive">

        <div class="products">
            <div class="about-events-slider swiper-container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <a href="#" onclick="return false;">
                            <div class="thumbnail">
                                <img src="http://via.placeholder.com/300x200/132324/ffffff">
                                <div class="caption">
                                    <h6>Sep 26, 2017 - Sep 28, 2017</h6>
                                    <h3>Sri Lanka Renuka Holdings rights issue oversubscribed – LBO </h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" onclick="return false;">
                            <div class="thumbnail">
                                <img src="http://via.placeholder.com/300x200/132324/ffffff">
                                <div class="caption">
                                    <h6>Sep 26, 2017 - Sep 28, 2017</h6>
                                    <h3>Sri Lanka Renuka Holdings rights issue oversubscribed – LBO </h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" onclick="return false;">
                            <div class="thumbnail">
                                <img src="http://via.placeholder.com/300x200/132324/ffffff">
                                <div class="caption">
                                    <h6>Sep 26, 2017 - Sep 28, 2017</h6>
                                    <h3>Sri Lanka Renuka Holdings rights issue oversubscribed – LBO </h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" onclick="return false;">
                            <div class="thumbnail">
                                <img src="http://via.placeholder.com/300x200/132324/ffffff">
                                <div class="caption">
                                    <h6>Sep 26, 2017 - Sep 28, 2017</h6>
                                    <h3>Sri Lanka Renuka Holdings rights issue oversubscribed – LBO </h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" onclick="return false;">
                            <div class="thumbnail">
                                <img src="http://via.placeholder.com/300x200/132324/ffffff">
                                <div class="caption">
                                    <h6>Sep 26, 2017 - Sep 28, 2017</h6>
                                    <h3>Sri Lanka Renuka Holdings rights issue oversubscribed – LBO </h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" onclick="return false;">
                            <div class="thumbnail">
                                <img src="http://via.placeholder.com/300x200/132324/ffffff">
                                <div class="caption">
                                    <h6>Sep 26, 2017 - Sep 28, 2017</h6>
                                    <h3>Sri Lanka Renuka Holdings rights issue oversubscribed – LBO </h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" onclick="return false;">
                            <div class="thumbnail">
                                <img src="http://via.placeholder.com/300x200/132324/ffffff">
                                <div class="caption">
                                    <h6>Sep 26, 2017 - Sep 28, 2017</h6>
                                    <h3>Sri Lanka Renuka Holdings rights issue oversubscribed – LBO </h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" onclick="return false;">
                            <div class="thumbnail">
                                <img src="http://via.placeholder.com/300x200/132324/ffffff">
                                <div class="caption">
                                    <h6>Sep 26, 2017 - Sep 28, 2017</h6>
                                    <h3>Sri Lanka Renuka Holdings rights issue oversubscribed – LBO </h3>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

        </div>

    </div>
</section> -->

<section class="renuka-group">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <p>For more information about the group – Please visit www.renukagroup.com</p>

                <p class="lead"><a href="http://renukagroup.com/index.php" target="_blank">Renuka Group</a></p>
            </div>
        </div>

    </div>
</section>
<!--

<section class="press" id="press">
    <div class="container">
        <img src="{{ 'assets/images/info-center/press-bg.png'|theme }}" class="img-responsive">

        <div class="products">
            <div class="about-events-slider swiper-container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <a href="#" onclick="return false;">
                            <div class="thumbnail">
                                <img src="http://via.placeholder.com/300x200/132324/ffffff">
                                <div class="caption">
                                    <h6>Sep 26, 2017</h6>
                                    <h3>Sri Lanka Renuka Holdings rights issue oversubscribed – LBO </h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" onclick="return false;">
                            <div class="thumbnail">
                                <img src="http://via.placeholder.com/300x200/132324/ffffff">
                                <div class="caption">
                                    <h6>Sep 26, 2017</h6>
                                    <h3>Sri Lanka Renuka Holdings rights issue oversubscribed – LBO </h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" onclick="return false;">
                            <div class="thumbnail">
                                <img src="http://via.placeholder.com/300x200/132324/ffffff">
                                <div class="caption">
                                    <h6>Sep 26, 2017</h6>
                                    <h3>Sri Lanka Renuka Holdings rights issue oversubscribed – LBO </h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" onclick="return false;">
                            <div class="thumbnail">
                                <img src="http://via.placeholder.com/300x200/132324/ffffff">
                                <div class="caption">
                                    <h6>Sep 26, 2017</h6>
                                    <h3>Sri Lanka Renuka Holdings rights issue oversubscribed – LBO </h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" onclick="return false;">
                            <div class="thumbnail">
                                <img src="http://via.placeholder.com/300x200/132324/ffffff">
                                <div class="caption">
                                    <h6>Sep 26, 2017</h6>
                                    <h3>Sri Lanka Renuka Holdings rights issue oversubscribed – LBO </h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" onclick="return false;">
                            <div class="thumbnail">
                                <img src="http://via.placeholder.com/300x200/132324/ffffff">
                                <div class="caption">
                                    <h6>Sep 26, 2017</h6>
                                    <h3>Sri Lanka Renuka Holdings rights issue oversubscribed – LBO </h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" onclick="return false;">
                            <div class="thumbnail">
                                <img src="http://via.placeholder.com/300x200/132324/ffffff">
                                <div class="caption">
                                    <h6>Sep 26, 2017</h6>
                                    <h3>Sri Lanka Renuka Holdings rights issue oversubscribed – LBO </h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" onclick="return false;">
                            <div class="thumbnail">
                                <img src="http://via.placeholder.com/300x200/132324/ffffff">
                                <div class="caption">
                                    <h6>Sep 26, 2017</h6>
                                    <h3>Sri Lanka Renuka Holdings rights issue oversubscribed – LBO </h3>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

        </div>

    </div>
</section>

<section class="commercial" id="tvc">
    <div class="container">
        <img src="{{ 'assets/images/info-center/tv-commercials-bg.png'|theme }}"
             class="img-responsive">

        <div class="products">
            <div class="about-events-slider swiper-container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <a href="#" onclick="return false;">
                            <div class="thumbnail">
                                <img src="http://via.placeholder.com/300x200/132324/ffffff">
                                <div class="caption">
                                    <h6>Sep 26, 2017</h6>
                                    <h3>Sri Lanka Renuka Holdings rights issue oversubscribed – LBO </h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" onclick="return false;">
                            <div class="thumbnail">
                                <img src="http://via.placeholder.com/300x200/132324/ffffff">
                                <div class="caption">
                                    <h6>Sep 26, 2017</h6>
                                    <h3>Sri Lanka Renuka Holdings rights issue oversubscribed – LBO </h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" onclick="return false;">
                            <div class="thumbnail">
                                <img src="http://via.placeholder.com/300x200/132324/ffffff">
                                <div class="caption">
                                    <h6>Sep 26, 2017</h6>
                                    <h3>Sri Lanka Renuka Holdings rights issue oversubscribed – LBO </h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" onclick="return false;">
                            <div class="thumbnail">
                                <img src="http://via.placeholder.com/300x200/132324/ffffff">
                                <div class="caption">
                                    <h6>Sep 26, 2017</h6>
                                    <h3>Sri Lanka Renuka Holdings rights issue oversubscribed – LBO </h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" onclick="return false;">
                            <div class="thumbnail">
                                <img src="http://via.placeholder.com/300x200/132324/ffffff">
                                <div class="caption">
                                    <h6>Sep 26, 2017</h6>
                                    <h3>Sri Lanka Renuka Holdings rights issue oversubscribed – LBO </h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" onclick="return false;">
                            <div class="thumbnail">
                                <img src="http://via.placeholder.com/300x200/132324/ffffff">
                                <div class="caption">
                                    <h6>Sep 26, 2017</h6>
                                    <h3>Sri Lanka Renuka Holdings rights issue oversubscribed – LBO </h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" onclick="return false;">
                            <div class="thumbnail">
                                <img src="http://via.placeholder.com/300x200/132324/ffffff">
                                <div class="caption">
                                    <h6>Sep 26, 2017</h6>
                                    <h3>Sri Lanka Renuka Holdings rights issue oversubscribed – LBO </h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" onclick="return false;">
                            <div class="thumbnail">
                                <img src="http://via.placeholder.com/300x200/132324/ffffff">
                                <div class="caption">
                                    <h6>Sep 26, 2017</h6>
                                    <h3>Sri Lanka Renuka Holdings rights issue oversubscribed – LBO </h3>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

        </div>

    </div>
</section>


<section class="download-broucher">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <p>Download Product Broucher <a href="#">Download PDF <img src="{{ 'assets/images/info-center/icon-download.svg'|theme }}" class="img-responsive"></a></p>

            </div>
        </div>

    </div>
</section>
 -->
<div class="navigations">
    <a href="{{ 'about'|page }}"><i class="fa fa-long-arrow-left"></i> ABOUT</a>
</div>