title = "Product"
url = "/product/:product_slug"
layout = "default"
is_hidden = 0
class = "category"
[product]
==
<?php

function onEnd(){
    $this->page->title = $this->landingProduct->product_name;
}
?>
==
<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-3 col-sm-4">
            <div class="sidebar">
                <h2>PRODUCT CATEGORIES</h2>
                <ul class="menu list-unstyled">
                    {% for productCategory in productCategories %}
                    {% if productCategory.slug == landingProduct.product_category.slug %}
                    <li class="has-sub active">
                    {% else %}
                    <li class="has-sub">
                    {% endif %}
                        <a href="{{ 'product-categories'|page }}?category={{ productCategory.slug }}">{{ productCategory.category_name }}</a>
                        <ul class="list-unstyled sub-menu">
                            {% for product in productCategory.products  %}
                            {% if product.is_sub_category_available == 0 %}
                            {% if product.is_external_link_available == 0 %}
                            <li><a href="{{ 'product'|page({product_slug:product.slug}) }}">{{ product.product_name }}</a></li>
                            {% else %}
                            <li><a href="{{ product.external_link }}" target="_blank">{{ product.product_name
                                }}</a></li>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            {% for productSubCategory in productCategory.sub_categories  %}
                            <li class="has-sub-cat"><a href="#">{{ productSubCategory.sub_category_name }}</a>
                                <ul class="list-unstyled sub-cat-menu">
                                    {% for product in productSubCategory.products  %}
                                    {% if product.is_sub_category_available == 1 %}
                                    {% if product.is_external_link_available == 0 %}
                                    <li><a href="{{ 'product'|page({product_slug:product.slug}) }}">{{ product.product_name }}</a></li>
                                    {% else %}
                                    <li><a href="{{ product.external_link }}" target="_blank">{{ product.product_name
                                        }}</a></li>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>

        <div class="col-md-8 col-lg-9 col-sm-8 content">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <a href="{{ previousUrl }}" class="go-back"><i class="fa fa-chevron-left"></i> Back</a>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="products-slider swiper-container">
                        <div class="swiper-wrapper">
                            {% for image in landingProduct.gallery_images %}
                            <div class="swiper-slide">
                                <div class="item">
                                    <img src="{{ image.path }}">
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="products-slider-thumb">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                {% for image in landingProduct.gallery_images %}
                                <div class="swiper-slide">
                                    <div class="item">
                                        <img src="{{ image.path }}">
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>

                    </div>

                </div>
                <div class="col-md-6 col-sm-12 product-detail">
                    <h4>{{ landingProduct.product_category.slug }}</h4>
                    <h2>{{ landingProduct.product_name }}</h2>

                    <p>{{ landingProduct.description }}</p>
                    {% if landingProduct.pack_size_retail or landingProduct.pack_size_industry %}
                    <div class="pack-size">
                        <h6>Pack Size</h6>
                        <table border="0" width="100%">
                            {% if landingProduct.pack_size_retail %}
                            <tr>
                                <td align="right"><strong>Retail:</strong></td>
                                <td>{{ landingProduct.pack_size_retail }}</td>
                            </tr>
                            {% endif %}
                            {% if landingProduct.pack_size_industry  %}
                            <tr>
                                <td align="right"><strong>Industrial / Catering:</strong></td>
                                <td>{{ landingProduct.pack_size_industry }}</td>
                            </tr>
                            {% endif %}

                        </table>
                    </div>
                    {% endif %}
                    {% if landingProduct.video_link %}
                    <div class="video">
                        <iframe width="560" height="315" src="{{ landingProduct.video_link }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="products">
                <h4>Related Products</h4>

                <div class="row">
                    {% for relatedProduct in landingProduct.product_category.products %}
                    {% if relatedProduct.slug != landingProduct.slug %}
                    <div class="col-sm-6 col-md-4">
                        {% if product.is_external_link_available == 0 %}
                            <a href="{{ 'product'|page({product_slug:relatedProduct.slug}) }}">
                        {% else %}
                            <a href="{{ product.external_link }}" target="_blank">
                        {% endif %}
                            <div class="thumbnail">
                                <img src="{{ relatedProduct.feature_image_category_page.path }}">
                                <div class="caption">
                                    <h3>{{ relatedProduct.product_name }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>


    </div>
</div>
<div class="navigations">
    <a href="{{ 'home'|page }}"><i class="fa fa-long-arrow-left"></i> HOME</a><a href="{{  'recipes'|page }}">RECIPES <i class="fa fa-long-arrow-right"></i></a>
</div>