title = "Product Categories"
url = "/product-categories"
layout = "default"
is_hidden = 0
class = "category"
[productCategory]
==
<?php

function onEnd(){
    if($this->landingPageProductCategory){
        $this->page->title = $this->landingPageProductCategory->category_name;
    }
}
?>
==
<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-3 col-sm-4">
            <div class="sidebar">
                <h2>PRODUCT CATEGORIES</h2>
                <ul class="menu list-unstyled">
                    {% for productCategory in productCategories %}
                        {% if productCategory.slug == landingPageProductCategory.slug %}
                            <li class="has-sub active">
                        {% else %}
                            <li class="has-sub">
                        {% endif %}
                            <a href="{{ 'product-categories'|page }}?category={{ productCategory.slug }}">{{ productCategory.category_name }}</a>
                            <ul class="list-unstyled sub-menu">
                                {% for product in productCategory.products  %}
                                    {% if product.is_sub_category_available == 0 %}
                                        {% if product.is_external_link_available == 0 %}
                                            <li><a href="{{ 'product'|page({product_slug:product.slug}) }}">{{ product.product_name }}</a></li>
                                        {% else %}
                                            <li><a href="{{ product.external_link }}" target="_blank">{{ product.product_name
                                                }}</a></li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% for productSubCategory in productCategory.sub_categories  %}
                                    <li class="has-sub-cat"><a href="#">{{ productSubCategory.sub_category_name }}</a>
                                        <ul class="list-unstyled sub-cat-menu">
                                            {% for product in productSubCategory.products  %}
                                            {% if product.is_sub_category_available == 1 %}
                                            {% if product.is_external_link_available == 0 %}
                                                <li><a href="{{ 'product'|page({product_slug:product.slug}) }}">{{ product.product_name }}</a></li>
                                            {% else %}
                                                <li><a href="{{ product.external_link }}" target="_blank">{{ product.product_name
                                                }}</a></li>
                                            {% endif %}
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>

        <div class="col-md-8 col-lg-9 col-sm-8 content">
                <img src="{{ landingPageProductCategory.category_page_image.path }}" class="img-responsive">
                {{ landingPageProductCategory.long_description|raw }}
                <div class="products">
                    <h4>{{ landingPageProductCategory.category_name }} Products</h4>
                    <div class="row">
                        {% for product in landingPageProductCategory.products %}
                        <div class="col-sm-6 col-md-4">
                            {% if product.is_external_link_available == 0 %}
                                <a href="{{ 'product'|page({product_slug:product.slug}) }}">
                            {% else %}
                                    <a href="{{ product.external_link }}" target="_blank">
                            {% endif %}
                                <div class="thumbnail">
                                    <img src="{{ product.feature_image_category_page.path }}">
                                    <div class="caption">
                                        <h3>{{ product.product_name }}</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="navigations">
    <a href="{{ 'home'|page }}"><i class="fa fa-long-arrow-left"></i> HOME</a><a href="{{  'recipes'|page  }}">RECIPES <i class="fa fa-long-arrow-right"></i></a>
</div>