title = "Recipe"
url = "/recipe/:recipe_slug"
layout = "default"
is_hidden = 0
class = "recipe"
[recipe]
type = "recipe"

==
<?php

function onEnd(){

    if(!$this->recipe) {
        return $this->controller->run('404');
    }

    $this->page->title = $this->recipe->recipe_name;

}
?>
==
<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-3 col-sm-4">
            <div class="sidebar">
                <h2>RECIPES</h2>
                <ul class="menu list-unstyled">
                    <li><a href="{{ 'recipes'|page }}">Show All</a></li>
                    {% for recipeCategoryItem in recipeCategories %}
                    <li {% if recipe.recipe_category.slug == recipeCategoryItem.slug %} class="active"{% endif %}><a href="{{ 'recipes'|page }}?category={{ recipeCategoryItem.slug }}">{{ recipeCategoryItem.recipe_category_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-md-8 col-lg-9 col-sm-8 content">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <a href="{{ previousUrl }}" class="go-back"><i class="fa fa-chevron-left"></i> Back</a>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="products-slider swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="item icon-play">
                                    <a href="{{ recipe.video_link }}" class="popup-youtube">
                                        <img src="{{ recipe.video_preview_thumbnail.path }}">
                                    </a>
                                </div>
                            </div>
                            {% for image in recipe.gallery_images %}
                            <div class="swiper-slide">
                                <div class="item">
                                    <img src="{{ image.path }}">
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="products-slider-thumb">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="item icon-play icon-small">
                                        <a href="{{ recipe.video_link }}" class="popup-youtube">
                                            <img src="{{ recipe.video_preview_thumbnail.path }}">
                                        </a>
                                    </div>
                                </div>
                                {% for image in recipe.gallery_images %}
                                <div class="swiper-slide">
                                    <div class="item">
                                        <img src="{{ image.path }}">
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>

                    </div>

                </div>
                <div class="col-md-6 col-sm-12 product-detail">
                    <h4>{{ recipe.recipe_category.recipe_category_name }}</h4>
                    <h2>{{ recipe.recipe_name }}</h2>
                    <p>{{ recipe.recipe_description|raw }}</p>

                    <div class="options">
                        <h6>Ingredients</h6>
                        <table border="0" width="100%">
                            <tr>
                                {% for ingredient in recipe.ingredients %}
                                <td>{{ ingredient.ingredient }}</td>
                            {% if loop.index % 2  == 0 %}
                            </tr>
                            <tr>
                            {% endif %}
                                {% endfor %}
                            </tr>

                        </table>

                        <h6>Directions</h6>

                        <ol>
                            {% for direction in recipe.directions %}
                            <li>{{ direction.direction }}</li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>

            {% if relatedRecipes.count > 0 %}
            <div class="products">
                <h4>Similar Recipes</h4>

                <div class="row">
                    {% for recipeItem in relatedRecipes %}
                    <div class="col-sm-6 col-md-4">
                        <a href="{{ 'recipe'|page({recipe_slug:recipeItem.slug}) }}">
                            <div class="thumbnail">
                                <img src="{{ recipeItem.feature_image.path }}">
                                <div class="caption">
                                    <h3>{{ recipeItem.recipe_name }}</h3>
                                    <p>{{ str_limit(recipeItem.recipe_description,70) }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

        </div>


    </div>
</div>

<div class="navigations">
    <a href="{{ 'product-categories'|page }}"><i class="fa fa-long-arrow-left"></i> PRODUCT CATEGORIES</a><a href="{{ 'about'|page }}">ABOUT <i class="fa fa-long-arrow-right"></i></a>
</div>