title = "Recipes"
url = "/recipes"
layout = "default"
is_hidden = 0
class = "recipe"
[recipe]
type = "recipes"

==
<?php

function onEnd(){
    if($this->recipeCategory){
        $this->page->title = $this->recipeCategory->recipe_category_name;
    }else{
        $this->page->title = 'All Recipes';

    }
}
?>
==
<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-3 col-sm-4">
            <div class="sidebar">
                <h2>RECIPES</h2>
                <ul class="menu list-unstyled">
                    <li {% if not recipeCategory %} class="active"{% endif %}><a
                            href="{{ 'recipes'|page }}">Show All</a></li>
                    {% for recipeCategoryItem in recipeCategories %}
                        <li {% if recipeCategory.slug == recipeCategoryItem.slug %} class="active"{% endif %}><a href="{{ 'recipes'|page }}?category={{ recipeCategoryItem.slug }}">{{ recipeCategoryItem.recipe_category_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-md-8 col-lg-9 col-sm-8 content">
            {% if recipeCategory %}
            <img src="{{ recipeCategory.banner_image.path }}" class="img-responsive">
            {% else %}
            <img src="{{ 'assets/images/recipe-banner.jpg'|theme }}" class="img-responsive">
            {% endif %}
<!--

            <p>We’re currently cooking up some of our world class recipes. Watch this space for some of our exciting culinary creations.</p>
-->

             <div class="products">
                <h5>Recipes</h5>
                <div class="row">
                    {% if recipeCategory %}
                        {% for recipe in  recipeCategory.recipes %}
                            <div class="col-sm-6 col-md-4">
                                <a href="{{ 'recipe'|page({recipe_slug:recipe.slug}) }}">
                                    <div class="thumbnail">
                                        <img src="{{ recipe.feature_image.path }}">
                                        <div class="caption">
                                            <h3>{{ recipe.recipe_name }}</h3>
                                            <p>{{ str_limit(recipe.recipe_description,70) }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for recipeCategoryItem in recipeCategories  %}
                            {% for recipe in recipeCategoryItem.recipes %}
                                <div class="col-sm-6 col-md-4">
                                    <a href="{{ 'recipe'|page({recipe_slug:recipe.slug}) }}">
                                        <div class="thumbnail">
                                            <img src="{{ recipe.feature_image.path }}">
                                            <div class="caption">
                                                <h3>{{ recipe.recipe_name }}</h3>
                                                <p>{{ str_limit(recipe.recipe_description,70)
                                                    }}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div>
                {{ recipeCategories.render|raw }}

            </div>
        </div>
    </div>
</div>

<div class="navigations">
    <a href="{{ 'product-categories'|page }}"><i class="fa fa-long-arrow-left"></i> PRODUCTS</a><a href="{{ 'about'|page }}">ABOUT <i class="fa fa-long-arrow-right"></i></a>
</div>